@use "../abstracts" as *;

.footer {
  background-color: $footer-bg-color;
  padding: rem(32) 0;
  color: $white;
  
  @include breakpoint-up("very-small") {
    padding-top: rem(120);
    padding-bottom: rem(60);
  }
  
  @include breakpoint-up("small") {
    padding-top: rem(160);
  }
}

.footer .container {
  @include breakpoint-up("very-small") {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__newsletter {
  @include breakpoint-up("very-small") {
    flex-basis: rem(500);
  }
}

.footer__title {
  margin-top: 0;
  text-transform: uppercase;
  font: 700 rem(28) "Open Sans", sans-serif;
}

.footer__description {
  font-weight: 600;
  
  @include breakpoint-up("very-small") {
    max-width: rem(400);
  }
}

.footer__flex {
  @include breakpoint-up("very-small") {
    display: flex;
    align-items: flex-start;
  }
}

.footer__input {
  @include breakpoint-up("very-small") {
    flex-basis: rem(300);
    margin-right: rem(40);
  }
}

.footer__label {
  display: block;
  font-weight: 600;
  margin-bottom: rem(12);
}

.footer__email {
  display: block;
  margin-bottom: rem(3);
  border: rem(2) solid transparent;
  border-radius: 0.5em;
  background: hsl(0, 0%, 100%) center right rem(10) no-repeat;
  padding: rem(5);
  padding-right: rem(42);
  height: rem(48);
  width: 100%;
  font-size: rem(16);
  
  @include focus-visible;
}

/* FORM VALIDATION */
// Added placeholder for alert to prevent jumping layout even when the alert message is hidden
.footer__placeholder {
  height: rem(20);
}

// Alert message is hidden by default
.footer__alert {
  display: none;
  margin: 0;
  color: $error-color;
  font-weight: 600;
}

// When the user enter an invalid email...
.footer__email:invalid:focus:not(:placeholder-shown) {
  border-color: $error-color;
  background-image: url("../images/times-square.svg");
}

.footer__email:invalid:focus:not(:placeholder-shown) ~ .footer__placeholder .footer__alert {
  display: block;
}

// When it is valid...
.footer__email:valid {
  border-color: rgb(128, 230, 21);
  background-image: url("../images/check-square.svg");
}
/* END OF FORM VALIDATION */

.footer__info {
  margin-top: rem(80);
  
  @include breakpoint-up("very-small") {
    flex-basis: rem(360);
    margin-top: 0;
  }
}

.footer__home {
  display: inline-block;
  width: rem(180);
  
  @include focus-visible;
  @include breakpoint-up("very-small") {
    margin-bottom: rem(30);
    width: rem(240);
  }
}

.footer__list {
  margin-top: rem(48);
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item:first-child {
  margin-bottom: rem(20);
}

.footer__icon {
  width: rem(24);
}

.footer__address {
  margin-left: rem(24);
}

.footer__link {
  color: $white;
  
  &:focus {
    color: $footer-hover-color;
  }
  
  @include focus-visible;
  @include on-event {
    color: $footer-hover-color;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-top: rem(60);
  margin-bottom: rem(20);
}

.social__item:not(:first-child) {
  margin-left: rem(42);
  
  @include breakpoint-up("very-small") {
    margin-left: rem(50);
  }
}

.social__link {
  @include focus-visible;
}

.social__icon {
  transform: scale(1.7);
}

.social__link:hover .social__icon path,
.social__link:active .social__icon path,
.social__link:focus .social__icon path {
  fill: $footer-hover-color;
}
