@use "../abstracts" as *;

.header {
  padding: rem(16) 0;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  flex-basis: rem(120);
}
