@use "../abstracts" as *;

.header {
  padding: rem(16) 0;
  
  @include breakpoint-up("very-small") {
    padding: rem(40) 0;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  flex-basis: rem(150);
  
  @include focus-visible;
  @include breakpoint-up("very-small") {
    flex-basis: rem(200);
  }
}
