@use "../abstracts" as *;

.hero {
  background: bottom/100% no-repeat;
  background-image: url("../images/bg-section-top-mobile-1.svg");
  padding-top: rem(90);
  padding-bottom: rem(120);
  text-align: center;
  
  @include breakpoint-up("tiny") {
    background-image: url("../images/bg-section-top-desktop-1.svg");
  }
  
  @include breakpoint-up("very-small") {
    padding-bottom: rem(300);
  }
  
  @include breakpoint-up("small") {
    padding-top: rem(120);
    padding-bottom: rem(340);
  }
}

.hero .container {
  @include breakpoint-up("very-small") {
    max-width: rem(930);
  }
  
  @include breakpoint-up("small") {
    max-width: rem(1280);
  }
}

.hero__title {
  font-size: rem(28);
  
  @include breakpoint-up("very-small") {
    font-size: rem(40);
  }
  
  @include breakpoint-up("small") {
    font-size: rem(50);
  }
}

.hero__description {
  margin: rem(20) 0;
  
  @include breakpoint-up("very-small") {
    margin: rem(32) auto;
    max-width: rem(500);
  }
  
  @include breakpoint-up("small") {
    max-width: rem(600);
    font-size: rem(20);
  }
}

.hero__image {
  margin: rem(64) 0;
  
  @include breakpoint-up("very-small") {
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include breakpoint-up("very-small") {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: rem(920);
  }
}

.hero__item:first-child {
  margin-bottom: rem(60);
  
  @include breakpoint-up("very-small") {
    margin: 0;
  }
}

.hero__icon {
  height: rem(24);
  width: auto;
  
  @include breakpoint-up("very-small") {
    height: rem(40);
  }
}

.hero__number {
  margin: 0;
  font-size: rem(56);
  
  @include breakpoint-up("very-small") {
    font-size: rem(90);
  }
}

.hero__stats {
  margin: 0;
  text-transform: capitalize;
  color: rgba($very-dark-cyan, 0.5);
  
  @include breakpoint-up("very-small") {
    font-size: rem(24);
  }
}
