@use "../abstracts" as *;

.section {
  padding: rem(80) 0;
  
  @include breakpoint-up("very-small") {
    padding: rem(100) 0;
  }
}

.section--blue {
  background-color: $section-bg-color;
}

.section--middle {
  background: 
    top/100% no-repeat,
    bottom/100% no-repeat
  ;
  background-image: 
    url("../images/bg-section-bottom-mobile-1.svg"),
    url("../images/bg-section-top-mobile-2.svg")
  ;
  padding: rem(200) 0;
  
  @include breakpoint-up("tiny") {
    background-image: 
    url("../images/bg-section-bottom-desktop-1.svg"),
    url("../images/bg-section-top-desktop-2.svg")
    ;
    padding: rem(240) 0;
  }
  
  @include breakpoint-up("small") {
    padding: rem(280) 0;
  }
}

.section--community {
  background: 
    top/100% no-repeat,
    bottom/100% no-repeat
  ;
  background-image: 
    url("../images/bg-section-bottom-mobile-2.svg"),
    url("../images/bg-footer-top-mobile.svg")
  ;
  padding: rem(200) 0;
  
  @include breakpoint-up("tiny") {
    background-image: 
      url("../images/bg-section-bottom-desktop-2.svg"),
      url("../images/bg-footer-top-desktop.svg")
    ;
    padding: rem(240) 0;
  }
}

.section .container {
  display: flex;
  flex-direction: column-reverse;
  
  @include breakpoint-up("very-small") {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.section--middle .container {
  @include breakpoint-up("very-small") {
    flex-direction: row-reverse;
  }
}

.section--community {
  @include breakpoint-up("small") {
    padding: rem(360) 0;
  }
}

.section--community .container {
  display: block;
  text-align: center;
}

.section__text {
  margin-top: rem(60);
  text-align: center;
  
  @include breakpoint-up("very-small") {
    margin-top: 0;
    flex-basis: rem(400);
    text-align: left;
  }
  
  @include breakpoint-up("small") {
    flex-basis: rem(520);
  }
}

.section__title {
  @include breakpoint-up("very-small") {
    font-size: rem(40);
  }
}

.section__image {
  
  @include breakpoint-up("very-small") {
    max-width: rem(400);
  }
  
  @include breakpoint-up("small") {
    max-width: rem(520);
  }
}
