@use "../abstracts" as *;

.btn {
  display: inline-block;
  margin: rem(14) 0;
  border: none;
  border-radius: 5em;
  text-transform: capitalize;
  font-size: rem(12);
}

.btn--line {
  border: rem(1) solid $btn-color;
  padding: rem(6) rem(14);
  color: $btn-color;
  
  @include focus-visible;
  @include on-event {
    border-color: $btn-hover-color;
    color: $btn-hover-color;
  }
}

.btn--fill {
  box-shadow: 
    0 rem(3) rem(5) rgba($very-dark-cyan, 0.2)
  ;
  background-color: $btn-color;
  padding: rem(14) rem(36);
  color: $white;
  font-weight: 700;
  
  @include focus-visible;
  @include on-event {
    background-color: $btn-hover-color;
  }
}
